html, body {
    height: 100%;
}
body {
    background: linear-gradient(to bottom , gold , black );
    height: 100%;
    width: 100%;
}
.title {background-color:chocolate;}
#title {color:blue}
h1 {color:brown}